<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono pensamento-p">
  <img src="/assets/imagens/{{ pensamento.modelo }}.png" alt="Aspas coloridas">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria">{{ pensamento.autoria }}</p>
  <div class="botao-editar">
    <button class="botao-editar">
      <img src="/assets/imagens/icone-editar.png" alt="editar">
    </button>
    <button class="botao-ecluir">
      <img src="/assets/imagens/icone-excluir.png" alt="excluir">
    </button>
  </div>
</div>
